################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/PirateAudio/v16/.suo
/PirateAudio/.vs/PirateAudio/v16/.suo
